.navbar {
  border-radius: 0;
}
.nav-right {
  margin-left: 100px;
}

.bg-primary {
  background-color: #666 !important;
}

.card {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}


body {
  background-color: #000;
  margin-top: 15px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}
