@import url('https://fonts.googleapis.com/css?family=Asul:700');
$cursor-normal: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png) 10 2, auto;
$cursor-click: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-click.png) 10 2, auto;

body {
  font-family: 'Asul';
  margin-top: 15px;
  margin-bottom: 10px;
  background: #000;
	cursor: $cursor-normal;
  a, button, input, .hero-selection, &:active { cursor: $cursor-click; }

	// background-image: url(http://i.imgur.com/AwnKj6j.jpg);
  .page-bg {
    background-image: url(https://wallpaperclicker.com/storage/wallpaper/hearthstone-deck-48048904.jpg);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
    position: fixed;
  	filter: blur( 15px );
  	bottom: 0;
  	left: 0;
  	right: 0;
  	top: 0;
  	z-index: -1;
  }
}

.page-content {
  background: black;
  color: lightGray;
  padding: 0 5px 15px 5px;
}

button:focus {
  border: none !important;
  outline: none !important;
}
// register, login, etc.
.input-group {
  margin-bottom: 10px;
}

// input border color
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}
