#button-wrapper {
  vertical-align: top;
  text-align: center;
}

.navigation-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-btn {
  margin: 10px;
  width: 50%;
  justify-content: space-around;
}

.toggle-btn {
  width: 100%;
  justify-content: space-around;
}

.reset-btn {
  background-color: #550000;
  color: lightGray;
}

select {
  &:hover,
  &:focus,
  &:active {
    color: lightGray;
    background: #333;
  }
}
