@mixin blur($px){
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}

.card-container {
  display: flex;
  background: rgba(255,255,255, 0.3);
  flex-flow: row wrap;
  align-items: stretch;
  transition: 0s all linear;
}

.card-list {
  flex-grow: 1;
  width: 19%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
