.card-container {
  display: flex;
  background: black;
  color: lightGray;
  flex-flow: column wrap;
}

.card-list {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.card-view {
  border: 2px solid white;
  max-width: 500px;
  margin: 15px auto;
  img {
    width: auto;
    height: 49px;
  }
}

.card-image-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card-text {
  margin-bottom: 10px;
}

.card-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // margin: 15px 15px;
  margin: -50px 15px 15px 15px;
}

.card-view-rarity {
  margin: 15px auto !important;
}

select {
  text-align-last: center;
}
