@import '../shared/styles/variables';
.garrosh { background-color: $garrosh !important; }
.thrall { background-color: $thrall !important; }
.valeera { background-color: $valeera !important; }
.uther { background-color: $uther !important; }
.rexxar { background-color: $rexxar !important; }
.malfurion { background-color: $malfurion !important; }
.guldan { background-color: $guldan !important; }
.jaina { background-color: $jaina !important; }
.anduin { background-color: $anduin !important; }

.user-table {
  width: 100%;
  th, td {
      padding: 15px;
  }
}
