@keyframes showModal {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@mixin alert {
	z-index: 999;
	position: fixed;
	left: 25%;
  top: 20%;
	width: 50%;
	height: 500px auto;
	animation: showModal 0.3s ease;

	button {
		// color: red;
	}
}

.cardbox {
  @include alert;
  background-color: lightGray;
  color: black;
}

.Legendary {
	background-color: orange;
	color: black;
}
.Epic {
	background-color: purple;
	color: white;
}
.Rare {
	background-color: blue;
	color: white;
}
.Free {
 	background-color: lightGray;
	color: black;
}
.Common {
 	background-color: lightGray;
	color: black;
}
