<div @longFade class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">DiscoverHS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav">
        <a routerLink="/cards" class="nav-item nav-link" routerLinkActive="active">
          <i class="fa fa-list"></i> Cards
        </a>
        <a routerLink="/users" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-users"></i> Users
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
          <i class="fa fa-sign-in"></i> Login
        </a>
        <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
          <i class="fa fa-user-plus"></i> Register
        </a>
        <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-user"></i> {{auth.currentUser.username}}
        </a>
        <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
          <i class="fa fa-sign-out"></i> Logout
        </a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
</div>
