@mixin blur($px){
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}
.card-img {
  cursor: pointer;
  &:hover {
  }
  // transition: 0.15s filter linear;
}

.card-container {
  display: flex;
  flex-direction: row;
  transition: 1s all linear;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card-display {
  transition: 1s all linear;
}

//Might be useful if we are to move the card filtering to its own component.
// START CARD FILTERING CSS

.card-filter {
  border: 5px black;
  width: 15em;
  display: flex;
  flex-direction: column;
}

.filter-label {
  height: 2em;
}

.filter-slider {
  height: 2em;
}

.mat-slider {
  width: 100%;
}

.filter-checkboxes {
  display: flex;
  flex-direction: column;
}

//END CARD FILTERING CSS