<app-loading [condition]="isLoading"></app-loading>
<div class="card-container">
  <!-- START FILTER -->
  <div class="card-filter">
    <label>Attack: </label>
    <mat-slider (input)="setAttack($event.value)"
     min="1" max="12" step="1" value="2"></mat-slider>
    <label>Health: </label>
    <mat-slider (input)="setHealth($event.value)"
      min="1" max="12" step="1" value="2"></mat-slider>
    <label>Mana: </label>
    <mat-slider (input)="setMana($event.value)"
      min="1" max="12" step="1" value="2"></mat-slider>
    <div class="filter-checkboxes">
      <label>Class: </label>
      <mat-checkbox (click)="toggleClass('Druid')">Druid</mat-checkbox>
      <mat-checkbox (click)="toggleClass('Hunter')">Hunter</mat-checkbox>
      <mat-checkbox (click)="toggleClass('Mage')">Mage</mat-checkbox>
      <mat-checkbox (click)="toggleClass('Paladin')">Paladin</mat-checkbox>
      <mat-checkbox (click)="toggleClass('Priest')">Priest</mat-checkbox>
      <mat-checkbox (click)="toggleClass('Rogue')">Rogue</mat-checkbox>
      <mat-checkbox (click)="toggleClass('Shaman')">Shaman</mat-checkbox>
      <mat-checkbox (click)="toggleClass('Warlock')">Warlock</mat-checkbox>
      <mat-checkbox (click)="toggleClass('Warrior')">Warrior</mat-checkbox>
      <mat-checkbox (click)="toggleClass('Neutral')">Neutral</mat-checkbox>
      <label>Type: </label>
      <mat-checkbox (click)="toggleType('Minion')">Minion</mat-checkbox>
      <mat-checkbox (click)="toggleType('Spell')">Spell</mat-checkbox>
      <mat-checkbox (click)="toggleType('Weapon')">Weapon</mat-checkbox>
      <mat-checkbox (click)="toggleType('Hero')">Hero</mat-checkbox>
      <label>Rarity: </label>
      <mat-checkbox (click)="toggleRarity('Common')">Common</mat-checkbox>
      <mat-checkbox (click)="toggleRarity('Uncommon')">Uncommon</mat-checkbox>
      <mat-checkbox (click)="toggleRarity('Rare')">Rare</mat-checkbox>
      <mat-checkbox (click)="toggleRarity('Epic')">Epic</mat-checkbox>
      <mat-checkbox (click)="toggleRarity('Legendary')">Legendary</mat-checkbox>
    </div>
    <button (click)="resetQuery()">Reset</button>
  </div>
  <!-- END FILTER -->
  <div class="card-list">
    <div class="card-display"
    *ngFor="let card of cards; let i = index" (click)="expand(i,card)">
      <h2>{{card.name}}</h2>
      <div *ngIf="expanded === i">
        <app-modal [message]="modal.message"></app-modal>
      </div>
    </div>
  </div>
</div>
