@mixin blur($px){
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}
// .card-img {
//   cursor: pointer;
//   &:hover {
//   }
//   // transition: 0.15s filter linear;
// }
.card-container {
  display: flex;
  background: rgba(255,255,255,0.2);
  flex-flow: row wrap;
  align-items: stretch;
  transition: 1s all linear;
}

.card-list {
  flex-grow: 2;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card-filter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.label {
  height: 2em;
}

mat-slider {
  height: 2em;
  width: 100%;
}

.filter-checkboxes {
  display: flex;
  flex-direction: column;
}

//END CARD FILTERING CSS
