$garrosh: rgba(199,156,110,0.35);
$thrall: rgba(0, 112, 222, 0.35);
$valeera: rgba(255, 245, 105, 0.35);
$uther: rgba(245, 140, 186, 0.35);
$rexxar: rgba(171, 212, 115, 0.35);
$malfurion: rgba(255, 125, 10, 0.35);
$guldan: rgba(148, 130, 201, 0.35);
$jaina: rgba(105, 204, 240, 0.35);
$anduin: rgba(255, 255, 255, 0.35);
