<div class='about-page'>
  <div @longFade class='about-intro text-center'>
    <!-- warped text, http://csswarp.eleqtriq.com/ -->
    <div class='intro-text'>
      <div id='warped'>
        <span class='w0'>D</span>
        <span class='w1'>i</span>
        <span class='w2'>s</span>
        <span class='w3'>c</span>
        <span class='w4'>o</span>
        <span class='w5'>v</span>
        <span class='w6'>e</span>
        <span class='w7'>r</span>
        <span class='w8'> </span>
        <span class='w9'>H</span>
        <span class='w10'>S</span>
      </div>
      <p>A Hearthstone card browser</p>
    </div>
  </div>
  <div @longFade class='about-content text-center'>
    <h3>Instructions</h3>
    <p><a style='color: #FF7D0A' href='/register'>Register a user</a> (usernames must be unique!)</p>
    <p><a style='color: #ABD473' href='/account'>Select your hero</a>
      and <a style='color: #9482C9' href='/cards'>browse some cards!</a></p>
    <p style="font-size: 8px">
      log out and never come back again
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </p>
  </div>
  <hr/>
  <p class='about-footer text-center'>
    Developed using the MEAN stack: MongoDB, Express, Angular and Node
  </p>
</div>
