<div class='about-page'>
  <div class='about-intro text-center'>
    <!-- warped text, http://csswarp.eleqtriq.com/ -->
    <div class='intro-text'>
      <div id='warped'>
        <span class='w0'>D</span>
        <span class='w1'>i</span>
        <span class='w2'>s</span>
        <span class='w3'>c</span>
        <span class='w4'>o</span>
        <span class='w5'>v</span>
        <span class='w6'>e</span>
        <span class='w7'>r</span>
        <span class='w8'> </span>
        <span class='w9'>H</span>
        <span class='w10'>S</span>
      </div>
      <p>A Hearthstone card browser</p>
    </div>
  </div>
  <div class='about-content text-center'>
    <h3>Instructions</h3>
    <p>Register a user (use any mail you want)</p>
    <p>Sign in using your email/password</p>
    <p>Select your hero and browse some cards!</p>
  </div>
  <hr/>
  <p class='about-footer text-center'>
    Developed using the MEAN stack: MongoDB, Express, Angular and Node
  </p>
</div>

