@mixin rotate($deg) {
  // https://www.w3schools.com/cssref/css3_pr_transform.asp
  -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
  transform: rotate($deg);
}

@mixin gradient($from, $middle, $to){
  // https://www.w3schools.com/css/css3_gradients.asp
  background: $from; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, $from, $middle, $to); /* Safari */
  background: -o-radial-gradient(circle, $from, $middle, $to); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, $from, $middle, $to); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, $from, $middle, $to); /* Standard syntax */}

@mixin oval($color-from, $color-mid, $color-to){
  @include rotate(-45deg);
  @include gradient($color-from, $color-mid, $color-to);
  width: 15px;
  height: 15px;
  border-radius: 1em 0.5em;
  border: 1px solid $color-mid;
  position: relative;
}

.oval-Common{
  @include oval(gray, darkGray, white);
}
.oval-Rare{
  @include oval(blue, darkBlue, teal);
}
.oval-Epic{
  @include oval(darkViolet, purple, darkMagenta);
}
.oval-Legendary{
  @include oval(orange, darkOrange, goldenRod);
}
