@keyframes jump {
    0%   {opacity: 1.0; top: 15%;}
    50%  {opacity: 0.1; top: 20%;}
    100% {opacity: 0; top: 20%;}
}
.loader {
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 0 auto;
  top: 25%;
  animation: jump 0.5s ease;
}
