@keyframes fall {
    0%   {opacity: 1.0; top: 10%;}
    50%  {opacity: 0.3; top: 20%;}
    100% {opacity: 0; top: 15%;}
}

@keyframes fall-no-fade {
    0%   {top: 5%;}
    100% {top: 35%;}
}
.loader {
  position: fixed;
  left: 48vw;
  animation: fall 0.5s ease;
}
