.hero-selection{
  width: 100%;
  display: flex;
  // margin-left: 4px;
}

.hero-btn {
  color: black;
}

.section {
	height: 40vh;
	width: 11.3%; //100/9 = 11.11, 11.3 was a better fit.
	background-size: cover;
	background-position: center;
  overflow: hidden;
	// cursor: pointer;
	transition: all ease-out 0.4s;

  font-size: 30px;
  color: white;
}

.active {
	width: 30%;
  .glass {
    opacity: 0;
  }
}

.glass {
  position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 20;
	transition: all ease-out 0.2s;

  &:hover {
    opacity: 0;
  }

  &.active{
    opacity: 0;
  }
}

.garrosh { background-image: url("https://res.cloudinary.com/aca/image/upload/v1490370371/Garrosh_nbxdur.jpg"); }
.thrall { background-image: url("https://res.cloudinary.com/aca/image/upload/v1490370372/Thrall_owy4ru.jpg"); }
.valeera { background-image: url("https://res.cloudinary.com/aca/image/upload/v1490370373/Valeera_iqqknc.jpg"); }
.uther { background-image: url("https://res.cloudinary.com/aca/image/upload/v1490370372/Uther_ohkcts.jpg"); }
.rexxar { background-image: url("https://res.cloudinary.com/aca/image/upload/v1490370371/Rexxar_cxewei.jpg"); }
.malfurion { background-image: url("https://res.cloudinary.com/aca/image/upload/v1490370371/Malfurion_oapv6w.jpg"); }
.guldan { background-image: url("https://res.cloudinary.com/aca/image/upload/v1490370371/Gul_dan_vognmz.jpg"); }
.jaina { background-image: url("https://res.cloudinary.com/aca/image/upload/v1490370372/Jaina_yddmnr.jpg"); }
.anduin { background-image: url("https://res.cloudinary.com/aca/image/upload/v1490370372/Anduin_iu49n1.jpg"); }
@import '../shared/styles/variables';
.garrosh .glass { background: $garrosh; }
.thrall .glass { background: $thrall; }
.valeera .glass { background: $valeera; }
.uther .glass { background: $uther; }
.rexxar .glass { background: $rexxar; }
.malfurion .glass { background: $malfurion; }
.guldan .glass { background: $guldan; }
.jaina .glass { background: $jaina; }
.anduin .glass { background: $anduin; }

.garrosh-color { background: $garrosh; }
.thrall-color { background: $thrall; }
.valeera-color { background: $valeera; }
.uther-color { background: $uther; }
.rexxar-color { background: $rexxar; }
.malfurion-color { background: $malfurion; }
.guldan-color { background: $guldan; }
.jaina-color { background: $jaina; }
.anduin-color { background: $anduin; }
